@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

input[type="text"] {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

.home-page {
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    min-height: 100vh;
    padding-top: 275px;
    text-align: center;
}

.home-page h1 {
    font-family: 'Bebas Neue', cursive;
    position: relative;
    display: inline-block;
    margin: 0;
    line-height: 1;
    font-size: 40px;
    padding: .4em 1em .55em;
}

.home-page h1:before,
.home-page h1:after {
    content: ""; 
    position: absolute;
    width: 60%;
    height: .1em;
    background: #ffffff; 
}

.home-page h1:before {
    left: 0;
    top: 0;
}

.home-page h1:after {
    right: 0;
    bottom: 0;
}

.home-page h1 span:before,
.home-page h1 span:after {
    content: ""; 
    position: absolute;
    width: .65em;
    height: .65em;
    border: .1em solid #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
}

.home-page h1 span:before {
    top: -.55em;
    left: -.325em;
}

.home-page h1 span:after {
    bottom: -.55em;
    right: -.325em;
}

.home-page h3 {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 50px;
}

.text-field {
    width: 500px;
    margin: 100px auto;
    margin-bottom: 1rem;
}

.text-field h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.text-field__label {
    margin-top: 10px;
    display: block;
    margin-bottom: 0.25rem;
}

.text-field__input {
    margin-top: 10px;
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__input::placeholder {
    color: #212529;
    opacity: 0.4;
}

.text-field__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.container {
    margin: auto 100px;
}

.cells {
    border: #212529;
    width: 10px;
}

h1 {
    text-align: center;
}

th {
    background: rgb(218, 218, 218);
    width: 40px;
    height: 40px;
    border: solid black;
}

.field {
    display: inline-block;
}

.addShipForm {
    display: inline-block;
    position: absolute;
    margin: 40px 0px 0px 200px;
}

.shoot-form {
    display: inline-block;
    position: absolute;
    margin: 40px 0px 0px 20px;
}

.select-css { 
    display: block; 
    font-size: 16px; 
    font-family: sans-serif; 
    font-weight: 700; 
    color: #444; 
    line-height: 1.3; 
    padding: .6em 1.4em .5em .8em; width: 100%; 
    max-width: 100%; 
    box-sizing: border-box; 
    margin: 0; 
    border: 1px solid #aaa;
     box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
    border-radius: .5em;
     -moz-appearance: none;
     -webkit-appearance: none;
     appearance: none;
     background-color: #fff; 
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); 
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%; 
    } 
.select-css::-ms-expand { display: none; } 
.select-css:hover { border-color: #888; } 
.select-css:focus { 
    border-color: #aaa; 
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring; 
    color: #222;
    outline: none; 
} 
.select-css option { font-weight:normal; } 
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css { 
    background-position: left .7em top 50%, 0 0; 
    padding: .6em .8em .5em 1.4em; 
}

.btn {
    display: inline-block;	
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;  
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color: #131313;
    background-color: #e7f3ff;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
}
.btn:focus-visible {
    box-shadow: 0 0 0 2px #666;
}
.btn:hover {
    background-color: #DBE7F2;
}
.btn:active {
    transform: scale(0.96);
}
.btn:disabled {
    pointer-events: none;
    opacity: 0.65;
}

.bullet {
    margin-left: 0;
    list-style: none;
    counter-reset: li;
}
.bullet li {
    position: relative;
    margin-bottom: 1.5em;
    border: 3px solid #000000;
    padding: 0.6em;
    border-radius: 4px;
    background: #FEFEFE;
    color: #231F20;
    font-family: "Trebuchet MS", "Lucida Sans";
}
.bullet li:before {
    position: absolute;
    top: -0.7em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    font-size: 16px;
    font-weight: bold;
    color: #00218d;
    background: #FEFEFE;
    border-radius: 50%;
    counter-increment: li;
    content: counter(li);
}